<h1>
    Berlin Clock Kata
</h1>

<h3 > Convertisseur heure digitale en heure de Berlin </h3>

<p> Heures et minutes à convertir : </p> 

<form method="post" action="convertionBerlin"> 
    <div>
        <label> Heures :</label>
        <input type="number" name="heure">
    </div>
    
    <div>
        <label> Minutes : </label>
        <input type="number" name="minutes" >
    </div>

    <div> 
        <input type="submit">
    </div>
    
</form>


<!-- ajouter les formes pour les lignes et les aligner sur base du CSS + div différentes-->

